$color-link: #0472f1;
$color-border: #d2d2d2;

.archive {
    display: flex;
    flex-direction: column;

    .article {
        border-bottom: 1px solid $color-border;

        p a {
            color: $color-link;
        }

        p:last-child {
            margin: 1rem 0 0 0;
        }

        @media (max-width: 800px) {
            flex-basis: 100%;
        }

        .inner {
            margin: 0.5rem;
            padding: 0.25rem 0.5rem 0.25rem 0.5rem;
            border-radius: 0.25rem;

            h1 {
                margin: 0;
            }

            .post {
                margin: 1rem 0 0 0;
            }
        }

        .date {
            font-size: 0.8rem;
        }
    }
}
