$color-background: #ebebeb;
$color-link: #0472f1;
$color-shadow: #aaa;

.frontpage {
    display: flex;
    flex-wrap: wrap;
    
    .title {
        
        font: {
            size: 2.5rem;
            weight: bold;
        }
    }
    
    .title-small {
        font: {
            size: 1.5rem;
            weight: bold;
        }
    }

    .article {
        flex-basis: 50%;
        display: flex;

        p a {
            color: $color-link;
        }

        p:last-child {
            margin: 1rem 0 0 0;
        }

        @media (max-width: 800px) {
            flex-basis: 100%;
        }

        .inner {
            background-color: $color-background;
            margin: 0.5rem;
            padding: 0.25rem 0.5rem 0.25rem 0.5rem;
            border-radius: 0.25rem;
            box-shadow: 0 0 0.25rem $color-shadow;
            flex-grow: 1;

            .post {
                margin: 1rem 0 0 0;
            }
        }

        .date {
            font-size: 0.8rem;
        }
    }

    .article:first-child {
        flex-basis: 100%;
    }
}
