.header {
    display: flex;
    align-items: center;
    margin: 0.5rem 0 0.5rem 0;

    .site-title {
        font: {
            size: 1.5rem;
            weight: bold;
        }
    }

    .feed {
        margin-left: auto;

        .icon {
            background-image: url("../images/rss.svg");
            width: 16px;
            height: 16px;
        }
    }
}
