---
layout: default
---

<div class="archive">
    {% for post in paginator.posts %}
    <div class="article" style="order: {{ forloop.index }};">
        <div class="inner">
            <a href="{{ post.url }}">
                <h1>{{ post.title }}</h1>
            </a>
            <div class="date">{{ post.date | date: '%B %d, %Y' }}</div>
            <div class="post">
                {{ post.content | strip_html | truncatewords: 32 }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" title="Previous Page">
        <div class="arrow">←</div>
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a class="next" href="{{ paginator.next_page_path }}" title="Next Page">
        <div class="arrow next">→</div>
    </a>
    {% endif %}
</div>
