---
layout: default
---

<div class="header">
    <h1>Blog</h1>
    <div class="feed"><a href="{{ site.url }}/feed.xml" title="Feed"><div class="icon"></div></a></div>
</div>
<div class="frontpage">
    {% for post in site.posts limit:5 %}
    <div class="article" style="order: {{ forloop.index }};">
        <div class="inner">
            <a href="{{ post.url }}">
                {% if forloop.index == 1 %}
                <div class="title">{{ post.title }}</h1>
                {% else %}
                <div class="title-small">{{ post.title }}</h2>
                {% endif %}
            </a>
            <div class="date">{{ post.date | date: "%B %d, %Y" }}</div>
            <div class="post">
                {% if forloop.index == 1 %}
                {{ post.content }}
                {% else %}
                {{ post.content | strip_html | truncatewords: 32 }}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script type="text/javascript" src="/assets/js/post_height.js"></script>
